body {
    margin: 0;
}
.nav-ul {
    margin: 0;
    display: flex;
    padding: 0;
    align-items: center;
}
/* lock class will not allow scrolling down to the body */
.lock {
    overflow: hidden;
}
.overlay {
    display: none;
}
.mobile-nav-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}
.mobile-nav-btns button:nth-child(1){
    margin-bottom: 1rem;
}

.nav-btns button:nth-child(1), 
.mobile-nav-btns button:nth-child(1){
    border: none;
    outline: none;
    background-color: transparent;
}
.nav-btns button:nth-child(2),
.mobile-nav-btns button:nth-child(2){
    outline: none;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
    display: inline;
}
.ham {
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 70px;
    width: 500px;
}
.hero {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-gap: 80px;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}
/* the image is unknown, so to control and make it responsive we use the code below */
.img-container img {
    width: 100%;
}

.logos {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero button {
    margin-top: 40px;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 15px;
    transition: all 1s;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    border-radius: 10px;
    padding: 20px;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 120px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0.2);
}
.dropdown-content a {
    color: black;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.dropdown-content img {
    margin-right: 10px;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* for css specificity the media query must be in decreasing order of screen size */
@media (max-width: 1200px) {
    .hero {
        max-width: 900px;
        grid-template-columns: repeat(2, 400px);
    }
}
@media (max-width: 900px) {
    .nav-btns {
        display: none;
    }
    .nav-ul {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .ham {
        display: block;        
    }
    .hero {
        margin: 50px;
        max-width: 960px;
        grid-template-columns: repeat(1, max(200px, 350px));
    }
    .img-container {
        grid-row: 1;
    }
    .img-container img {
        content: url(images/image-hero-mobile.png);
        max-width: 100%;
    }
    .hero-text {
        text-align: center;
    }
    .hero button {
        margin: 0;
    }
    h1 {
        font-size: 30px;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    br {
        display: none;
    }
    .overlay {
        display: none;  /* not to affect the nav */
        position: absolute;  /* allow it to rest on the body */
        background-color: rgba(0, 0, 0, 0.3); /* to control the shadow beside the overlay */
        width: 100%;
        height: 100vh;
        top: 0;
    }
   
    .mobile-nav {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        top: -10px;
        right: 0;
        display: none;
        background-color: #fff;
        padding: 20px;
        width: 180px;;
        height: 100%;
    }
    .mobile-nav img {
        text-align: right;
    }
    .overlay {
        /* display: ; */
        width: 100%;
        /* height: 100vh; */
        /* background-color: transparent; */
    }
    .show {
        display: flex;
    }
    a {
        margin: 0;
    }
    .mobile-nav-con {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        justify-content: end;
    }
    .mobile-nav-con >* {
        padding: 20px;
    }
}

/* this sign >* implies everything in the mobile container  */








